body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    color: #585858;
    font-family: 'CIRCE';
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('CRC55.woff') format('woff');
}

.titel {
    margin-left: 20%;
}

nav ul li {
    display: inline;
    padding-right: 1.5em
}

nav ul {
    padding: 0;
    margin: 0;
    opacity: 0.5;
    text-align: left;
    margin-left: 50%;
    position: absolute;
    padding-top: 0.5em;
}

.titel {
    font-size: 1.6em;
    font-weight: 1000;
}

h1,
nav a {
    padding: 0;
    margin: 0;
}

nav a {
    color: #585858;
    ;
}

.introductie {
    margin-left: 50%;
    margin-right: 20%;
    margin-bottom: 14em;
}

.introductie h2 {
    font-size: 3em;
    margin-top: 3em;
    margin-bottom: 0em;
}

.introductie h3 {
    font-weight: 100;
    line-height: 2em;
    opacity: 0.5;
}

.introductie h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
    color: #585858;
}

.introductie ul {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.introductie li {
    background-color: #92A8B9;
    width: 100px;
    height: 100px;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    padding: 0.5em;
    opacity: 0.70;
    margin-top: 0;
}

.introductie li:first-of-type {
    margin-left: 0;
}

.introductie img {
    margin: 0;
    padding: 0;
    width: 65em;
    position: absolute;
    left: -13em;
    top: -3em;
    z-index: -1;
}

.portfolio {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    margin-top: 9em;
    height: 35em;
    padding-bottom: 3em;
}

.portfolio h2,
.portfolio h3 {
    padding: 0;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.casecontainer {
    width: 21em;
}

.listcontainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.portfolio h2 {
    padding-top: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.casecontainer {
    position: relative;
    margin: 0.5em;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #254157;
}

.casecontainer:hover .overlay {
    opacity: 0.8;
}

.casecontainer .text {
    opacity: 0;
    transition: .5s ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.casecontainer:hover .text {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.portfolio h2,
.diensten h2,
.overmij h2,
.fotografie h2,
.contact h2,
.ontwerpproces h2,
.toolbox h2,
.mijnstijl h2,
.fotografiecollage h2,
.casedetail h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    padding-top: 64px;
}

.portfolio h3,
.diensten h3,
.overmij h3,
.fotografie h3,
.contact h3,
.ontwerpproces h3,
.toolbox h3,
.mijnstijl h3,
.fotografiecollage h3,
.casedetail h3,
.casedetailcontent h3 {
    font-size: 1.2em;
    font-weight: 100;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.diensten {
    background-color: #254157
}

.diensten h2,
.diensten h3 {
    color: white;
    text-align: center;
}

.diensten h2 {
    margin-top: 0;
    padding-top: 2em;
}

.diensten .casecontainer {
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.diensten .casecontainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 1.2em;
}

.diensten p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
}

.diensten h4 {
    font-size: 1.1em;
    color: #254157
}

.diensten .listcontainer {
    padding-bottom: 6em;
}

.overmij {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4em;
}

.overmij p {
    line-height: 1.9em;
    margin-right: 50%;
}

.overmij img {
    width: 24em;
    position: absolute;
    padding-top: 8em;
    right: 20%;
    z-index: -1;
}

a {
    text-decoration: none;
    color: white;
}

button {

    background-color: #92A8B9;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    border: none;
    font-size: 0.7em;
    letter-spacing: 1px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.3s;
    margin-top: 2EM;
    cursor: pointer;
}

#arrow {
    margin-left: 1em;
    color: white;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

.break {
    background-color: #254157;
    height: 10em;
}

.fotografie {
    text-align: center;
    margin-bottom: 4em;
}

.oproep h3 {
    padding: 0;
    margin: 0
}

.oproep {
    background-color: #92A8B9;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.oproep h3:first-of-type {
    font-weight: 100;
    padding-bottom: 0.5em;
}

.contact {
    text-align: center;
    background-color: #F4F4F4;
}

.contact h3 {
    padding: 0;
    margin: 0;
}

form {
    margin-top: 2em;
}

.contact input {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 30em;
    padding: 1em;
    border: none;
    margin-top: 1em;
    font-family: 'CIRCE';
}

.contact textarea {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 30em;
    padding: 1em;
    border: none;
    margin-top: 1em;
    font-family: 'CIRCE';
}

.contact h2 {
    margin-top: 0;
}

.footer {
    background-color: #254157;
    height: 15em;
}

.fotografie .text {
    font-size: 2em;
    font-weight: 600
}

.break img {
    width: 18em;
}

.diensten {
    position: relative;
}

.diensten .sterretjes2container {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.diensten .sterretjes3container {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 32em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer .sterretjeslinks {
    width: 22em;
}

.footer .sterretjesrechts {
    transform: rotateY(180deg);
    width: 22em;
}

.fotovanmijfooter {
    width: 12em;
}

.ontwerpproces {
    color: white;
    background-color: #254157;
    padding-bottom: 3em;
}

.ontwerpproces h2,
.ontwerpproces h3,
.ontwerpproces li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ontwerpproces ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    margin-top: 2em;
}

.bulletcontainer {
    margin-left: 20%;
    margin-right: 20%;
}

.ontwerpproces li {
    width: 15em;
}

.ontwerpproces h2 {
    padding-top: 2em;
}

.ontwerpproces li h4:first-of-type {
    font-size: 2em;
    margin: 0;
    opacity: 0.5;
}

.ontwerpproces h4 {
    margin-bottom: 0;
}

.toolbox {
    background-color: #F4F4F4;
    padding-bottom: 2em;

}

.toolbox h2,
.toolbox h3,
.toolbox p {
    margin-left: 20%;
    margin-right: 20%;
}

.row {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
}

.column1,
.column2 {
    flex: 50%;
    margin: 0;
}

.column1 p,
.column2 p {
    margin: 0;
}

.column1 {
    text-align: left;
    padding-right: 20em
}

.column2 {
    text-align: right;
    padding-left: 20em
}

.column1 h4,
.column2 h4 {
    margin-bottom: 0
}

.toolboxcontainer {
    display: block;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.mijnstijl h2,
.mijnstijl h3 {
    text-align: center;
}

.mijnstijl img {
    padding-bottom: 1em;
}

.mijnstijl {
    padding-bottom: 7em;
}

.fotografiecollage {
    text-align: center;
}

.fotografiecollage .listcontainer {}

.casedetail img {
    margin: 0;
    padding: 0;
    width: 50em;
    position: absolute;
    left: -9em;
    top: -1em;
    z-index: -1;
}

.casedetail {
    text-align: center;
}

.casedetail h2 {
    padding-top: 0;
}

.casedetail h4 {
    opacity: 0.5;
    font-weight: 100;
    padding-top: 4em;
}

.casedetail h3 {
    opacity: 0.5;
}

.casedetailcontent {
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 5em;
}

.casedetailcontent p {
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 2em;
}

.casedetailcontent ol,
.casedetailcontent ul {
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 2em;
}

.nibudlogo,
.nemologo {
    width: 5em;
}

.casedetailcontent button {
    margin: 0;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type=submit] {
    background-color: #92A8B9;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    border: none;
    font-size: 0.7em;
    letter-spacing: 1px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.3s;
    margin-top: 2EM;
    color: white;
    cursor: pointer;
    width: 20em;
}

input[type=submit]:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

form {
    padding-bottom: 4em;
}

.fotografiecollage {
    margin-bottom: 3em
}

.overmij h3 {
    padding-right: 22em
}

.casedetailcontent h3 {
    line-height: 1.8em;
}
